<div class='navigation'>
  <div class='navigation__content'>
    <div class='navigation__info'>
        <%= link_to 'Info one', root_path, class: 'btn' %>
        <%= link_to 'Info two', root_path, class: 'btn' %>
    </div>
    <div class='navigation__search'>
      <input type='search'>
    </div>
    <div class='navigation__session'>
      <%= link_to 'Sign up', new_user_registration_path, class: 'btn' %>
      <%= link_to 'Login', new_user_registration_path, class: 'btn' %>
    </div>
  </div>
  <div class='navigation__background'>
    <svg class="svg-green" width="147px" height="148px" viewBox="0 0 147 148" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.266666667   0 0 0 0 0.694117647   0 0 0 0 0.607843137  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
        <g id="Artboard-1" transform="translate(-146.000000, -3.000000)" fill="#44B19B">
            <g id="tr1" transform="translate(218.000000, 72.000000) scale(-1, -1) translate(-218.000000, -72.000000) translate(169.000000, 22.000000)">
                <path d="M45.1796875,76.9648438 L0.58984375,100 L20,0 L45.1796875,76.9648438 Z" id="Triangle-1" fill-opacity="0.423318614"></path>
                <path d="M97.1992188,79.2382812 L18.9960938,0 L40,62 L97.1992188,79.2382812 Z" id="Triangle-1"></path>
            </g>
        </g>
      </g>
    </svg>
    <svg class="svg-red" width="150px" height="130px" viewBox="0 0 150 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="
            0 0 0 0 0.729411765   0 0 0 0 0.247058824   0 0 0 0 0.341176471  0 0 0 0.543447124 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
        <g id="Artboard-1" transform="translate(-124.000000, -151.000000)" fill="#BA3F57">
            <g id="tr2" transform="translate(202.000000, 211.000000) scale(1, -1) translate(-202.000000, -211.000000) translate(151.000000, 171.000000)">
                <polygon id="Triangle-1" fill-opacity="0.831946332" points="23 0 44 62 0 62 "></polygon>
                <path d="M101.199219,79.2382812 L22.9960938,0 L44,62 L101.199219,79.2382812 Z" id="Triangle-1" fill-opacity="0.554376132"></path>
            </g>
        </g>
      </g>
    </svg>
    <svg class="svg-blue" width="154px" height="139px" viewBox="0 0 154 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.568627451   0 0 0 0 0.631372549   0 0 0 0 0.968627451  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
        <g id="Artboard-1" transform="translate(-3.000000, -50.000000)" fill="#91A1F7">
            <g id="tr3" transform="translate(30.000000, 72.000000)">
                <polygon id="Triangle-1" points="22 20 44 82 0 82 "></polygon>
                <path d="M103,0 L21.4453125,19.0859375 L44,82 L103,0 Z" id="Triangle-1" fill-opacity="0.62720788"></path>
            </g>
        </g>
      </g>
    </svg>
  </div>
  <div class='navigation__hidden'>
    <svg class="svg-blue svg-left" width="154px" height="139px" viewBox="0 0 154 139" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.568627451   0 0 0 0 0.631372549   0 0 0 0 0.968627451  0 0 0 0.7 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
        <g id="Artboard-1" transform="translate(-3.000000, -50.000000)" fill="#91A1F7">
            <g id="tr3" transform="translate(30.000000, 72.000000)">
                <polygon id="Triangle-1" points="22 20 44 82 0 82 "></polygon>
                <path d="M103,0 L21.4453125,19.0859375 L44,82 L103,0 Z" id="Triangle-1" fill-opacity="0.62720788"></path>
            </g>
        </g>
      </g>
    </svg>
    <svg class="svg-red svg-right" width="150px" height="130px" viewBox="0 0 150 130" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0.729411765   0 0 0 0 0.247058824   0 0 0 0 0.341176471  0 0 0 0.543447124 0" in="shadowBlurOuter1" type="matrix" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
                <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
        </filter>
      </defs>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" filter="url(#filter-1)">
        <g id="Artboard-1" transform="translate(-124.000000, -151.000000)" fill="#BA3F57">
            <g id="tr2" transform="translate(202.000000, 211.000000) scale(1, -1) translate(-202.000000, -211.000000) translate(151.000000, 171.000000)">
                <polygon id="Triangle-1" fill-opacity="0.831946332" points="23 0 44 62 0 62 "></polygon>
                <path d="M101.199219,79.2382812 L22.9960938,0 L44,62 L101.199219,79.2382812 Z" id="Triangle-1" fill-opacity="0.554376132"></path>
            </g>
        </g>
      </g>
    </svg>
  </div>
</div>
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->
