<!DOCTYPE html>
<html>
  <head>
    <title>Client</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'client', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'client', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= link_to 'Sign up', new_user_registration_path %>
    <%= link_to 'login', new_user_session_path %>
    <%= yield %>
  </body>
</html>
